:root{
    /*========== Colors ==========*/
    
    --hetic-color : #26E8A0;
    
    --bg-color : #1E1E1E;
    
    --text-color: #f0f8ff;
    
    /*========== Fonts ==========*/
    
    --body-font-regular : 'ClashDisplay-Regular', sans-serif;
    
    --body-font-light: 'ClashDisplay-Light', sans-serif;
    
    --body-font-extraLight : 'ClashDisplay-Extralight', sans-serif;
    
    --body-font-bold : 'ClashDisplay-Bold', sans-serif;
    
    --body-font-medium : 'ClashDisplay-Medium', sans-serif;
    
    --body-font-semiBold : 'ClashDisplay-Semibold', sans-serif;
    
  }


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1E1E1E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
