@font-face {
  font-family: 'ClashDisplay-Regular' ;
  src: url(./fonts/ClashDisplay-Regular.otf);
}

@font-face {
  font-family: 'ClashDisplay-Light' ;
  src: url(./fonts/ClashDisplay-Light.otf);
}
@font-face {
  font-family: 'ClashDisplay-Semibold' ;
  src: url(./fonts/ClashDisplay-Semibold.otf);
}


:root{
    /*========== Colors ==========*/
    
    --hetic-color : #26E8A0;
    
    --bg-color : #1E1E1E;
    
    --text-color: #f0f8ff;
    
    /*========== Fonts ==========*/
    
    --body-font-regular : 'ClashDisplay-Regular', sans-serif;
    
    --body-font-light: 'ClashDisplay-Light', sans-serif;
          
    --body-font-semiBold : 'ClashDisplay-Semibold', sans-serif;
    
  }



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-family: 'ClashDisplay-Regular' ;
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.wrapperHomepage{
  display: grid;
  grid-template-columns: 50% 50%;
}


.halfRight{
  text-align: left;
}
