@font-face {
  font-family: 'ClashDisplay-Regular' ;
  src: url(./fonts/ClashDisplay-Regular.otf);
}

@font-face {
  font-family: 'ClashDisplay-Light' ;
  src: url(./fonts/ClashDisplay-Light.otf);
}
@font-face {
  font-family: 'ClashDisplay-Semibold' ;
  src: url(./fonts/ClashDisplay-Semibold.otf);
}

html {
  scroll-behavior: smooth;
}


:root{
    /*========== Colors ==========*/
    
    --hetic-color : #26E8A0;
    
    --bg-color : #1E1E1E;
    
    --text-color: #f0f8ff;
    
    /*========== Fonts ==========*/
    
    --body-font-regular : 'ClashDisplay-Regular', sans-serif;
    
    --body-font-light: 'ClashDisplay-Light', sans-serif;
          
    --body-font-semiBold : 'ClashDisplay-Semibold', sans-serif;
    
  }



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header{
  font-family: var(--body-font-regular) ;
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App2-header{
  font-family: var(--body-font-regular) ;
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.wrapperHomepage{
  display: grid;
  grid-template-columns: 50% 50%;
}

.heticGreen{
  color: var(--hetic-color);
}

.heticGreen:hover{
  color: var(--hetic-color);
  opacity: 0.7;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

.halfRight{
  text-align: left;
  margin-left: 7vw ;
}

ul{
  list-style-type: none;
}
li{
  margin: 2.4vw;
}

.rectangle{
  z-index: 9999;
  width: 84.5vw;
  height: 80vh;
  background: rgba(188, 188, 188, 0.05);
  backdrop-filter: blur(99px);
  border-radius: 20px;
}

.ellipse{
  z-index: 1;
  position: absolute;
  left: 0;
  top: 740px;
}

.rectangle::before{
  src: url(./img/Ellipse3.svg);
}

